<aside class="banner-beda2026"><div class="aviso-texto"><h6><i class="fa-solid fa-pen-fancy"></i> BEDA 2026 - Guardiões da Blogosfera | ago, 2026</h6>
Esse texto faz parte do projeto <a href="https://entreblogs.com.br/beda/2026" title="mais sobre o BEDA 2026">BEDA 2026</a> do <a href="https://entreblogs.com.br/" title="mais sobre o entrelogs">ENTREBLOGS</a>, comunidade para compartilhar nossas perspectivas sobre os mesmos assuntos. <br/>
Tenho uma <a href="/BEDA-2026" title="página especial do BEDA 2026 por aqui">página especial para o BEDA 2026</a>;<br/>
Para conhecer outros blogs que participantes <a href="https://entreblogs.com.br/beda/2026/pergaminhos" title="outras postagens do tema">vá para nossa biblioteca.</a>.
</div></aside>