<section id="entreblogs-webring">
  <div class="entreblogs-title">Webring do <a href="https://entreblogs.netlify.app>ENTREBLOGS</a></div>

  <div class="pagination">
    <a href="#" class="eb-prev nav-recente">&laquo; Anterior</a>
    
    <a href="#" class="eb-random nav-topo">Aleatório</a>
    
    <a href="#" class="eb-next nav-anterior">Próximo &raquo;</a>
  </div>

  <div class="entreblogs-footer">
    <a class="eb-info" href="https://pt.wikipedia.org/wiki/Webring">O que é isso?</a>
  </div>

  <script src="https://entreblogs.netlify.app/assets/webrings/onionring-variables.js"></script>
  <script src="https://entreblogs.netlify.app/assets/webrings/onionring-widget.js"></script>
</section>
