{% if page.layout == 'default' or page.layout == 'agora' or page.layout == 'profissional' %}

<footer>
	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" class="linkum">CC BY-NC-SA 4.0</a> | 2006–2025
   </footer>

   {% else %}

   <footer>
      <a rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml" class="linkum">FEED</a> | <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" class="linkum">CC BY-NC-SA 4.0</a> | 2006–2025
      </footer>

      {% endif %}
