{% if page.title == 'Profissional' or page.title == 'Currículo' % or page.title == 'erro' %}

<footer>
  <div class="footer-right">
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" title="Licensa de uso">CC BY-NC-SA 4.0</a>
  2005–2025
  <input type="checkbox" id="alert-toggle" hidden>
{% include modal-aviso.html %}
  </div>
</footer>

{% else %}

<footer>
  <aside class="footer-left">
    <a href="https://lerama.pcdomanual.com/?category=blogs&tag" title="repositório de blogs do Manual do Usuário">
      <img src="/assets/selos/lerama.png" alt="Imagem da logo do repositório de blogs Lerama" width="88" height="33">
    </a>
    <a href="https://historiasparaler.blog.br"  title="onde comento livros">
      <img src="/assets/selos/historias-para-ler.png" alt="imagem da logo do blog Histórias para Ler" width="88" height="33">
    </a>
    <a href="http://entreblogs.netlify.app"  title="projeto de blogagem coletiva">
      <img src="/assets/selos/ENTREBLOGS_Selo_2.0_Rosa.png" alt="imagem da logo dp projeto ENTREBLOGS" width="88" height="33">
    </a>
      <img src="/assets/selos/WrittenByAHuman_08-1.png" alt="imagem do selo Escrito por um humano" width="93" height="33">
  </aside>
  <aside class="footer-right">
    <a href="/barras" title="as páginas desse cantinho">/...</a> 
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br" title="licensa de uso">CC BY-NC-SA 4.0</a>
    <a href="/registro-de-alteracoes" title="histórico de alterações desse cantinho">2005–2025</a> 
    {% include modal-aviso.html %}
  </aside>
</footer>

{% endif %}
