<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description }}">
<!-- Meta Tags -->

{% feed_meta %}
{% if page.title == 'Ondeando' or page.title == 'Profissional' or page.title == 'Currículo' %}
 <meta name="robots" content="index,follow">
{% else %}
 <meta name="robots" content="noindex,follow">
{% endif %}

<!-- Title Tags -->
{% if page.title == 'Ondeando'%}
 <title>{{ site.title }}</title>
{% elsif page.title == 'Profissional' or page.title == 'Currículo'%}
 <title>{{ page.title | truncate: 45, "…"}} | Pedro Dal Bó</title>
{% elsif page.title == 'erro'%}
 <title>Erro 404</title>
{% else %}
 <title>{{ page.title | truncate: 45, "…"}} | {{ site.title }}</title>
{% endif %}
<!-- Title Tags -->

<!-- Links -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v7.0.0/css/all.css">
 <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/favicon_cartoon-180.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon_cartoon-32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon_cartoon-16.png">
 <link rel="preconnect" href="https://fonts.bunny.net">
 <link href="https://fonts.bunny.net/css?family=Montserrat|Fraunces" rel="stylesheet" />
 {% assign mes_atual = site.time | date: "%m" | plus: 0 %}
{% if mes_atual == 6 %}
  <link href="https://fonts.bunny.net/css?family=Luckiest+Guy|Special+Elite|Slackey" rel="stylesheet">
{% endif %}
 <link rel="stylesheet" href="/assets/styles.css">
 <link rel="stylesheet" href="{{ '/assets/comments.css' | relative_url }}">
{% assign mes_atual = site.time | date: "%m" | plus: 0 %}
{% if mes_atual == 6 %}
  <link rel="stylesheet" href="{{ '/assets/tema-junino.css' | relative_url }}">
{% endif %}
<!-- Links -->
</head>

<body>
  <!-- meu h-card -->{% include h-card.html %}<!-- meu h-card -->
