<header>
    <div class="top-header">
      <a href="{{ site.url }}/" class="linkcab"><img src="{{ site.url }}//assets/foto-pedro.jpg" alt="Foto de Pedro" title="Sou eu" class="photo"></a>
      <div class="name">Pedro Dal Bó</div>
    </div>
    <nav>
      <a href="{{ site.url }}/blog" class="linkum" title="Se eu disser, será aqui">Blog</a>|<a href="{{ site.url }}/Agora" class="linkum" title="O que estou fazendo">Agora</a>|<a href="{{ site.url }}/Profissional" class="linkum" title="Quem é o trabalhador">Profissional</a>
    </nav>
  </header>