<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="meu proto-jardim-digital, um espaço para ficar mais distante das mídias-sociais, feeds infinitos e algorítmos malvados.">
<!-- Meta Tags -->

{% feed_meta %}
{% if page.title == 'Ondeando' or page.title == 'Profissional' or page.title == 'Currículo' %}
 <meta name="robots" content="index,follow">
{% else %}
 <meta name="robots" content="noindex,follow">
{% endif %}

<!-- Title Tags -->
{% if page.title == 'Ondeando'%}
 <title>{{ site.title }}</title>
{% elsif page.title == 'Profissional' or page.title == 'Currículo'%}
 <title>{{ page.title | truncate: 45, "…"}} | Pedro Dal Bó</title>
{% elsif page.title == 'erro'%}
 <title>Erro 404</title>
{% else %}
 <title>{{ page.title | truncate: 45, "…"}} | {{ site.title }}</title>
{% endif %}
<!-- Title Tags -->

<!-- Links -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v7.0.0/css/all.css">
 <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/favicon/favicon_avatar-180.png">
 <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/favicon/favicon_avatar-32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/favicon/favicon_avatar-16.png">
 <link rel="preconnect" href="https://fonts.bunny.net">
 <link href="https://fonts.bunny.net/css?family=Montserrat|Fraunces|Luckiest+Guy|Special+Elite|Slackey" rel="stylesheet" />
 <link rel="stylesheet" href="{{ site.url }}/assets/styles.css">
<!-- Links -->
</head>

<body>
  <!-- meu h-card -->{% include h-card.html %}<!-- meu h-card -->