{% if page.layout == 'default'%}

 <header>
  <div class="top-header">
    <a href="{{ site.url }}/" class="linkcab"><img src="{{ site.url }}/assets/foto-pedro-100px.jpg" alt="Foto de Pedro" title="sou eu" class="photocab"></a>
    <div class="namecab">Pedro Dal Bó</div>
  </div>
  <nav>
    <ul>
    <li><a href="{{ site.url }}/blog" title="se eu disser, será aqui">Blog</a></li><li>|</li>
    <li><a href="{{ site.url }}/fotolog" title="meu fotolog">Fotolog</a></li><li>|</li>
    <li><a href="{{ site.url }}/agora" title="o que estou fazendo">Agora</a></li><li>|</li>
    </ul>
  </nav>
  </header>

{% elsif page.layout == 'profissional'% or page.layout == 'erro' %}

  <header>
    <div class="top-header">
      <img src="{{ site.url }}/assets/foto-pedro-100px.jpg" alt="Foto de Pedro" title="sou eu" class="photocab">
      <div class="namecab">Pedro Dal Bó</div>
    </div>
  <nav>
  </nav>
  </header>

{% else %}  

  <header>
  <div class="top-header">
    <a href="{{ site.url }}/" class="linkcab"><img src="{{ site.url }}/assets/foto-pedro-100px.jpg" alt="Foto de Pedro" title="sou eu" class="photocab"></a>
    <div class="namecab">Pedro Dal Bó</div>
  </div>
  <nav>
    <ul>
    <li><a href="{{ site.url }}/blog" title="se eu disser, será aqui">Blog</a></li><li>|</li>
    <li><a href="{{ site.url }}/fotolog" title="meu fotolog">Fotolog</a></li><li>|</li>
    <li><a href="{{ site.url }}/agora" title="o que estou fazendo">Agora</a></li><li>|</li>
    <li><a href="{{ site.baseurl }}/feed.xml"><img src="{{ site.url }}/assets/rss.svg" alt="RSS" width="22" height="22"></a></li>
    </ul>
  </nav>
  </header>
{% endif %}
