{% assign ultima_mb = site.data.microblog | first %}
{% if ultima_mb %}

<label for="microblog-toggle" class="microblog-icone" aria-label="Ver última mensagem curta" title="última mensagem curta">
  <i class="fa-solid fa-message"></i>
</label>

<div class="microblog-balao-mobile">
  <div class="fleabag microblog-fleabag fleabag--topo">
    {{ ultima_mb.text | markdownify }}
<aside style="text-align: right; font-size: 0.78rem; margin-top: .2rem;">{{ ultima_mb.date | date: "%d/%m/%Y" }}</aside>
    <a href="/microblog" class="microblog-mais" title="ver todas as mensagens curtas">+</a>
  </div>
</div>

<div class="microblog-balao-desktop">
  <div class="fleabag microblog-fleabag">
    {{ ultima_mb.text | markdownify }}
<aside style="text-align: right; font-size: 0.7rem; margin-top: .1rem;">{{ ultima_mb.date | date: "%d/%m/%Y" }}</aside>
    <a href="/microblog" class="microblog-mais" title="ver todas as mensagens curtas">+</a>
  </div>
</div>

{% endif %}
