html {
  scroll-behavior: smooth; /* Para rolagem suave */
}

body {
  background: #252525;
  color: #ffffff;
  font-size: 17px;
  line-height: 22px;
  font-family: 'Montserrat', 'Verdana', 'sans-serif'; /* Fonte padrão */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0px 10px 0px 10px;
  overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

header {
  display: flex;
  flex-direction: row; /* Alinha em linha única por padrão */
  align-items: center;
  justify-content: space-between; /* Espaça os itens igualmente */
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.top-header {
  display: flex;
  align-items: center;
}

main {
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column; /* Alinha elementos verticalmente */
  justify-content: flex-start;
  align-items: flex-start; /* Alinha os itens à esquerda */
  flex-grow: 1;
  width: 100%;
  border: none; /* Remove a borda */
}

nav {
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center; /* Garante o alinhamento vertical dos itens */
}

footer {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0px 30px 0px;
  margin: 40px 0px 30px 0px;
}

.footer-link {
  margin-left: 5px; /* Adiciona margem esquerda ao link no rodapé */
}

.container {
  max-width: 790px;
  width: 100%; /* Ajuste de largura */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.namecab {
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
  white-space: nowrap; /* Evita quebra de linha no nome */
}

.photocab {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #F1C6E8;
  flex-shrink: 0; /* Evita que a imagem diminua além do tamanho mínimo */
}

h1 { /* cabeçalho de saudação */
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 40px; /* Adiciona margem inferior */
}

.h1-menor { /* cabeçalho de saudação menor para o blog */
  font-size: 17px;
  font-weight: normal;
}

.texto-geral .estou-fazendo {
  max-width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}

.estou-fazendo ul {
  font-size: 16px;
  line-height: 20px;
  max-width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}

.atualizacao {
  font-size: 13px;
  line-height: 20px;
  max-width: 100%;
  text-align: right; /* Alinha o texto à direita */
  margin-top: 10px; /* Define a margem superior */
  padding-right: 10px; /* Adiciona padding à direita para garantir que o texto não fique sob a barra de rolagem */
  align-self: flex-end; /* Alinha o bloco à direita */
}

a:link,
a:visited,
a:active,
nav a {
  color: #F1C6E8;
}

a:hover,
nav a:hover {
  color: #FFE0B8;
}

a.linkcab:link,
a.linkcab:visited,
a.linkcab:active,
a.linkcab:hover {
  color: #ffffff;
}

a.linkdata:link,
a.linkdata:visited,
a.linkdata:active,
a.linkdata:hover {
  color: #E6E6E6;
}

figure {
  margin: 0; /* Remove a margem padrão do figure */
  padding: 0; /* Remove o padding padrão do figure */
} 

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 17px;
  width: 100%; /* Garante que a legenda ocupe toda a largura do contêiner */
}

/* Imagens em posts */
.foto-post {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adiciona uma margem entre as imagens */
  padding-top: 15px;
}

.foto-post .mais-fotos {
  width: 48%; /* Define a largura das imagens como 48% da largura do texto */
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Mantém a legenda abaixo da imagem */
  justify-content: flex-end; /* Alinha as imagens pela parte inferior */
}

.foto-post img {
  width: 100%;
  height: auto; /* Altura proporcional à largura */
}

.foto-post-flutua {
  float: right;
  max-width: 50%;
  margin: 10px 0 10px 10px;
  padding-right: 2px;
}

.foto-post-flutua img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos para o Blog */
.blog-article{
  margin-top: 30px;
  width: 100%; /* Garante que a legenda ocupe toda a largura do contêiner */
}

.blog-title {
  font-size: 27px;
  font-weight: normal;
  line-height: 35px;
  margin-top: 0px; /* Remove a margem superior */
  margin-bottom: 0px;
}

.blog-data {
  font-size: 15px;
  color: #E6E6E6;
  margin-bottom: 5px;
}

.blog-post p {
  max-width: 100%; /* Faz com que o conteúdo ocupe 100% da largura do contêiner */
  overflow-wrap: break-word;
  text-align: left;
  margin-bottom: auto; /* Empurra o bloco descrição para cima */
  padding-right: 0px; /* Adiciona padding à direita para garantir que o texto não fique sob a barra de rolagem */
}

blockquote { 
  font-size: 17px;
  font-style: italic;
  margin: 20px 0px 20px 30px;
  max-width: 75%;
}

.citacao {
  border-left: 7px solid #F1C6E8;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.citacao-especial {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.citacao-especial::after {
  content: '\201D';
  font-family: 'Fraunces', 'Georgia'; /* Fonte para as aspas */
  font-size: 200px;
  color: #F1C6E8;
  opacity: 0.45; /* Transparencia para as aspas */
  position: absolute;
  right: -10px;
  bottom: -140px; 
  z-index: -1; /* Faz a aspas ir para trás do texto */
  pointer-events: none;
  line-height: 1;
}

.citacao-curta::after {
  right: -20px;
  bottom: -160px; /* Ajusta a posição da aspas para citações curtas */
}

.citacao-autor {
  display: block;
  text-align: right;
  max-width: 90%;
  margin-top: 40px;
}

.aviso { 
  font-size: 14px;
  text-align: center;
  border: 3px solid #FFE0B8; 
  margin: 10px 10px 10px 20px; 
  padding: 10px; 
}

.blog-comentario {
  font-size: 15px;
  line-height: 20px;
  max-width: 100%;
  text-align: right;
  margin-top: 40px;
  align-self: flex-end;
}

.blog-seta { 
  font-size: 20px;
  line-height: 20px;
  max-width: 97%;
  text-align: right;
  margin-top:10px;
  align-self: flex-end;
}

/* Navegação de Paginação */
.pagination-container {
  display: flex;
  justify-content: space-between; /* Garante que os itens fiquem nos extremos opostos */
  align-items: center; /* Alinha verticalmente os itens */
  margin-top: auto; /* Empurra a navegação para o final do main */
  padding-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  flex-shrink: 0; /* Evita que a paginação encolha */
}

.pagination-container .nav-recente {
  margin-right: auto; /* Alinha o link "Anterior" à esquerda */
}

.pagination-container .nav-anterior {
  margin-left: auto; /* Alinha o link "Próximo" à direita */
}

.pagination-container .nav-topo {
  margin: auto; /* Centraliza  link "Topo" */
}

/* Para Tags */
.blog-tag {/* estilo de tag */
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  max-width: 100%;
  text-align: left; 
  margin-top: 15px; /* Define a margem superior */
  margin-bottom: auto; /* Empurra o bloco descrição para cima */
  align-self: flex-end; /* Alinha o bloco à direita */
}

/* estilo para lista de posts por tag em tabela */
ul.lista-tags {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

ul.lista-tags h3 { 
  margin-left: 40px;/* Recuo de 30px no título da tag */
}

/* Tabela de posts com recuo de 10px */
table.tabela-posts {
  width: 100%;
  border-collapse: collapse;
  margin-left: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 20px; /* Espaçamento igual ao de parágrafos */
}

/* Células da tabela com menos espaço interno */
table.tabela-posts td {
  padding: 0.2rem 0.5rem; /* Reduz espaço vertical */
  vertical-align: top;   /* Alinha conteúdo ao topo */
}

.data-tag {
  font-size: 15px;
  text-align: right;
  padding-right: 1rem;
  white-space: nowrap;
  word-break: break-word;
}

/* Título do post com quebra de linha adequada */
.titulo-post a {
  word-break: break-word;
  display: block;
  max-width: 100%;
}

/* Título ocupa o espaço restante */
.titulo-post {
  width: 100%;
}
/* fim do estilo para lista de posts por tag em tabela */

/* Tipos de posts */
 article.blog-article.blog-foto .blog-title,
 article.blog-article.blog-notas .blog-title {
   display: none !important;
 }
 /* fim do Tipos de posts */



/* COMEÇO DO MEU FOTOLOG */
/* Credit goes to Sylvia and Robert, I just tinkered with it. Also thanks to Jedda for the initial inspiration.*/
/* Gallery styles */
.gallery ul.embedded.blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery ul.embedded.blog-posts > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  height: 100%;
}

.gallery ul.embedded.blog-posts > li a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.gallery .post-date {
  font-size: 0.8em;
  padding: 0.25em 0;
  color: #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.caption {
  font-style: italic;
  font-size: 0.9em;
  text-align: left;
  padding: 0.4em 0;
  margin: 0;

}

/* Ajustando a altura das colunas para garantir alinhamento das legendas */
.gallery ul.embedded.blog-posts > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-wrapper {
  flex-grow: 1;
}

.caption {
  margin-top: 10px;
}


/* FINAL DO MEU FOTOLOG */

/* Ajustes para telas menores */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

nav {
  margin-top: 10px; /* Adiciona espaço acima da navegação */
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Alinha a navegação à direita */
}

.top-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha os itens à esquerda */
}

.name {
 margin-left: 10px;
}

nav a {
  margin-left: 5px; /* Reduz o espaço entre os links na navegação */
  font-size: 16px; /* Garante que o tamanho do texto permaneça o mesmo */
}

.aviso {
  text-align: justify;
 }

/* Centraliza a galeria horizontalmente em telas menores */
.foto-post {
  justify-content: center;
}
.foto-post .mais-fotos {
  width: 100%; /* Ajusta a largura das imagens para 50% em telas menores */
}

.foto-post-flutua {
  width: 55%; /* Mantém flutuante, mas mais estreita */
}

  .gallery ul.embedded.blog-posts {
    grid-template-columns: 1fr;
  }
}