{% include head.html %}

{% include header.html %}

<main>
<h1>
    |Agora
</h1>
<section class="descricao">
    <p>A página /now (ou "/agora" em português) é utilizada para compartilhar com outras pessoas o que estamos fazendo naquele momento. A ideia é originada do movimento <a href="https://nownownow.com/about" class="linkum" title="O que é uma página /Now?">Now Page</a> iniciado por Derek Sivers.</p>
    Bom, é isso o que vai encontrar por aqui.<br/>
</section>
{{ content }}
</main>

{% include footer.html %}

</div>

</body>
</html>