{% include head.html %}

{% include header.html %}

<main>
<h1><span aria-hidden="true">|</span><span class="h1-menor">meu </span>Álbum<span class="h1-menor"> de fotos</span></h1>

    {{ content }}

</main>

{% if paginator.total_pages > 1 %} 
  <section class="pagination-container">
    {% if paginator.previous_page %} 
      <a href="{{ paginator.previous_page_path | relative_url }}" class="linkum nav-recente">&laquo; Recentes</a>
    {% endif %}
    <a href="#" class="linkum nav-topo">&#8593 Topo</a>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="linkum nav-anterior">Antigos &raquo;</a>
    {% endif %}
  </section>
{% endif %}


    {% include footer.html %}
</div>
</body>
</html>