{% include head.html %}

{% include header.html %}

<main>
  
  {{ content }}

<ul class="lista-tags">
  <table class="tabela-posts">
      {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
      {% for post in sorted_posts %}
        <tr class="linha-post">
          <td class="data-tag">{{ post.date | date: "%d/%m/%Y" }}</td>
          <td class="titulo-post" style="text-wrap: pretty;">
            <a href="{{ post.url | relative_url }}" style="display: inline;">{{ post.title }}</a>
            {% if post.type == "album" %}
              <span style="display: inline;">&#x1F4F7;</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
  </table>
</ul>

</main>

<aside style="text-align: center;"><a href="#" class="nav-topo">&#8593 Topo</a></aside>

{% include footer.html %}

</body>
</html>