{% include head.html %}

{% include header.html %}

<main>
  <h1><span aria-hidden="true">|</span><span class="h1-menor">meu </span>Fotolog</h1>

<article class="blog-article">
  {% include post-dates.html %}
  <h2>{{ page.title }}</h2>
  <p class="blog-tag">
    {% for tag in page.tags %}
    <a href="/etiquetas/#{{ tag | slugify }}" class="linkum">#{{ tag }}</a>
    {% endfor %}
   </p>
  
    {{ content }}
  
  <p class="blog-comentario">O blog não tem cometários, mas podemos <a href="mailto:pedro@dalbo.me?subject={{ page.title }}">conversar por email</a>.
  </p>
</article>

</main>

<section style="text-align: center;"><a href="#" class="nav-topo">&#8593 Topo</a></section>

{% include footer.html %}

</body>
</html>
