{% include head.html %}

{% include header.html %}

  <div class="main-wrapper"> <main>
  {{ content }}


<section class="gallery">
  <ul class="embedded album-post">
    {% assign all_posts = site.posts | where: "type", "album" %}
    {% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
    {% assign posts_to_show = all_posts | slice: offset, paginator.per_page %}

    {% for post in posts_to_show %}
      <li class="h-entry"> <a href="{{ post.url }}" class="linkdata u-url">
          <time class="dt-published album-data" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%d/%m/%Y" }}
          </time>
        </a>
        
        <div class="image-wrapper">
          <a href="{{ post.url }}">
            <img class="u-photo" src="{{ post.image | relative_url }}" alt="{{ post.title }}" title="{{ post.title }}">
          </a>
        </div>

        {% if post.caption %}
          <div class="p-summary e-content caption">
            {{ post.caption }}
          </div>
        {% endif %}
        
        <data class="p-name" value="{{ post.title }}"></data>
      </li>
    {% endfor %}
  </ul>
</section>

</main>

{% if paginator.total_pages > 1 %} 
  <section class="pagination">
    {% if paginator.previous_page %} 
      <a href="{{ paginator.previous_page_path | relative_url }}" class="nav-recente">&laquo; Recentes</a>
    {% endif %}
    <a href="#" class="nav-topo">&#8593 Topo</a>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="nav-anterior">Antigos &raquo;</a>
    {% endif %}
  </section>
{% endif %}


  </div> {% include footer.html %}

</body>
</html>