{% include head.html %}

{% include header.html %}

<main>
  {{ content }}


<section class="gallery">
  <ul class="embedded blog-posts">
{% assign all_posts = site.posts | where: "type", "album" %}
{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign posts_to_show = all_posts | slice: offset, paginator.per_page %}
 
    
    {% for post in posts_to_show %}
      <li>
      <a href="{{ post.url }}" class="linkdata">
         <div class="post-date">{{ post.date | date: "%d/%m/%Y" }}</div></a>
         <div class="image-wrapper">
          <a href="{{ post.url }}"><img src="{{ post.image | relative_url }}" alt="{{ post.title }}"></a>
          </div>
      <p class="caption">{{ post.caption }}</p>
      
      </li>
    {% endfor %}
    </ul>
</section>

</main>

{% if paginator.total_pages > 1 %} 
  <section class="pagination">
    {% if paginator.previous_page %} 
      <a href="{{ paginator.previous_page_path | relative_url }}" class="nav-recente">&laquo; Recentes</a>
    {% endif %}
    <a href="#" class="nav-topo">&#8593 Topo</a>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="nav-anterior">Antigos &raquo;</a>
    {% endif %}
  </section>
{% endif %}


    {% include footer.html %}

</body>
</html>