{% include head.html %}

{% include header.html %}
<div class="main-wrapper">
  <main>
    {{ content }}
    
    {% for msg in site.data.microblog %}
    <article class="microblog-entrada h-entry">
      <time class="blog-data dt-published" datetime="{{ msg.date | date: '%Y-%m-%d' }}">
        {{ msg.date | date: "%d/%m/%Y" }}
      </time>
      <div class="fleabag e-content">
        {{ msg.text | markdownify }}
        <br/><small><p class="blog-comentario">Podemos <a href="mailto:pedro@dalbo.me?subject=Do microblog, {{ msg.date }}">conversar por email</a>.<br/>
          <small>Se o link não funcionar, copie e cole o endereço de email no seu cliente de email.<br/>
          <a href="/colofao#sobre-comentarios">Por quê não tem seção de comentários?</a></small>
        </p></small>
      </div>
    </article>
    {% endfor %}
  </main>
</div>
{% include footer.html %}
</html>