{% include head.html %}

{% include header.html %}

<div class="main-wrapper">
  <main>
    {{ content }}

    {% assign entradas = site.microblog | sort: "date" | reverse %}
    {% for msg in entradas %}
 <article class="microblog-entrada h-entry">

      <time class="blog-data dt-published" datetime="{{ msg.date | date: '%Y-%m-%d' }}"><a href="{{ msg.url | relative_url }}" class="linkdata">
        {{ msg.date | date: "%d/%m/%Y" }}</a>
      </time>
      <div class="fleabag e-content">
        {{ msg.content }}
      </div>
       <p class="blog-seta"><a href="{{ msg.url | relative_url }}#comentarios" class="linkdata">vamos conversar...</a></p>
    </article>
    {% endfor %}
  </main>

<section style="text-align: center;"><a href="#" class="nav-topo">&#8593 Topo</a></section>

</div>

{% include footer.html %}
</html>