{% include head.html %}

{% include header.html %}

<main>
<h1>|Blog</h1>

<article class="blog-article {% if page.type == 'foto' %}blog-foto{% elsif page.type == 'notas' %}blog-notas{% endif %}">
  <p class="blog-data">{{ page.date | date: "%d/%m/%Y" }}</p>
  <h2 class="blog-title">{{ page.title }}</h2>
  <p class="blog-tag">
    {% for tag in page.tags %}
    <a href="/blog/tags/#{{ tag | slugify }}" class="linkum">#{{ tag }}</a>
    {% endfor %}
   </p>
  <div class="blog-post">
    {{ content }}
  </div>
  <p class="blog-comentario"><a href="mailto:pedro@dalbo.me?subject={{ page.title }}">A conversa continua aqui</a>.
  </p>
</article>

</main>

{% include footer.html %}

</div>

</body>
</html>
