{% include head.html %}

{% include header.html %}

  <div class="main-wrapper"> <main>
  <h2><span aria-hidden="true">|</span><span class="h2-menor">meu </span>Blog</h2>

<article class="blog-article h-entry {% if page.type == 'frase'%}blog-citacao{% elsif page.type == 'notas' %}blog-notas{% endif %}">
  
  <div style="display:none;">
    <a class="u-url" href="{{ page.url | absolute_url }}"></a>
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}"></time>
    <span class="p-author h-card">{{ site.author_name }}</span>
  </div>

  {% include post-dates.html %}

  {% if page.type == 'notas' or page.type == 'frase' %}
    <h3 class="p-name" style="display:none;">{{ page.title }}</h3>
  {% else %}
    <h3 class="p-name">{{ page.title }}</h3>
  {% endif %}

  <p class="blog-tag">
    {% for tag in page.tags %}
    <a href="/etiquetas/#{{ tag | slugify }}" class="p-category">#{{ tag }}</a>
    {% endfor %}
   </p>
  
  <div class="e-content">
    {{ content }}
  </div>
  
  <p class="blog-comentario">O blog não tem comentários, mas podemos <a href="mailto:pedro@dalbo.me?subject=Do blog{{ page.title }}">conversar por email</a>.</p>
</article>

</main>

<section style="text-align: center;"><a href="#" class="nav-topo">&#8593 Topo</a></section>

  </div> {% include footer.html %}

</body>
</html>
