{% include head.html %}

{% include header.html %}

<main>
  <h1><span aria-hidden="true">|</span><span class="h1-menor">meu</span>Blog</h1>

<article class="blog-article {% if  page.type == 'frase'%}blog-citacao{% elsif page.type == 'notas' %}blog-notas{% endif %}">
  <p class="blog-data">{{ page.date | date: "%d/%m/%Y" }}</p>
  <h2 class="blog-title">{{ page.title }}</h2>
  <p class="blog-tag">
    {% for tag in page.tags %}
    <a href="/tags/#{{ tag | slugify }}">#{{ tag }}</a>
    {% endfor %}
   </p>
  <div class="blog-post">
    {{ content }}
  </div>
  <p class="blog-comentario">O blog não tem cometários, mas podemos <a href="mailto:pedro@dalbo.me?subject={{ page.title }}">conversar por email</a>.
  </p>
</article>

</main>

<aside style="text-align: center;"><a href="#" class="nav-topo">&#8593 Topo</a></aside>

{% include footer.html %}

</body>
</html>
