{% include head.html %}

{% include header.html %}

<main>
  
  {{ content }}

{% assign tags = site.tags | sort %}

<section class="nuvem-tag">
  {% for tag in tags %}
    <a href="#{{ tag[0] | slugify }}">#{{ tag[0] }}</a> 
  {% endfor %}
</section>

<ul class="lista-tags">
  {% for tag in tags %}
    <li>
      <h3 id="{{ tag[0] | slugify }}">#{{ tag[0] }} <a href="#" class="linkdata">&#8593</a></h3>
      <table class="tabela-posts">
        {% for post in tag[1] %}
          <tr class="linha-post">
            <td class="data-tag">{{ post.date | date: "%d/%m/%Y" }}</td>
            <td class="titulo-post" style="text-wrap: balance;"><a href="{{ post.url | relative_url }}" style="display: inline;">{{ post.title }}</a>
        {% if post.type == "album" %}
              <span style="display: inline;">&#x1F4F7;</span>
        {% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </li>
  {% endfor %}
</ul>

  
</main>

<section style="text-align: center;"><a href="#" class="nav-topo">&#8593 Topo</a></section>

{% include footer.html %}

</body>
</html>